<!-- Banner component -->
<div id="news-banner">
    <div class="news-banner-text">
        <p>
            {{ page.banner }}
        </p>

    </div>
    <!-- close button -->
    <div class="news-banner-close">
        <button class="close" aria-label="Close banner" type="button" data-close
            onclick="document.getElementById('news-banner').style.display='none';">
            <span aria-hidden="true"><i class=" close fa-solid fa-xmark fa-2xl"></i></span>
        </button>
    </div>
</div>