<!-- Downloads component -->
<div id="downloads" class="standard-component">
    <div class="download-container">
        <a class="button windows-button main-button" href="{{ page.qupath_releases }}" data-for-os="default"
            data-download="win" tabindex=“-1”>{{ page.download_button_default }}</a>
        <a class="button windows-button main-button" href="{{ page.qupath_download_msi }}" data-for-os="win"
            data-download="win" tabindex=“0” aria-label="{{ page.download_dropdown_msi_aria  }}">{{
            page.download_button_win }}</a>
        <a class="button mac-button main-button" href="{{ page.qupath_download_pkg }}" data-for-os="mac"
            data-download="mac" tabindex=“0” aria-label="{{ page.download_dropdown_pkg_aria  }}">{{
            page.download_button_mac }}</a>
        <a class="button linux-button main-button" href="{{ page.qupath_download_tar }}" data-for-os="lin"
            data-download="lin" tabindex=“0” aria-label="{{ page.download_dropdown_tar_aria  }}">{{
            page.download_button_lin }}</a>
        <div class="dropdown" tabindex=“-1”>
            <button class="button windows-button side-button" tabindex=“0” aria-label="{{ page.dropdown_aria  }}"><i
                    class="fa-solid fa-angle-right"></i></button>
            <div class="dropdown-content">
                <a href="{{ page.qupath_download_msi }}" tabindex=“0”
                    aria-label="{{ page.download_dropdown_msi_aria  }}"><i
                        class="fa-brands fa-windows download-icon"></i>{{ page.download_dropdown_msi }}</a>
                <a href="{{ page.qupath_download_zip }}" tabindex=“0”
                    aria-label="{{ page.download_dropdown_zip_aria  }}"><i
                        class="fa-brands fa-windows download-icon"></i>{{ page.download_dropdown_zip }}</a>
                <hr>
                <a href="{{ page.qupath_download_pkg }}" tabindex=“0”
                    aria-label="{{ page.download_dropdown_pkg_aria  }}"><i
                        class="fa-brands fa-apple download-icon"></i>{{ page.download_dropdown_pkg }}</a>
                <a href="{{ page.qupath_download_pkg_s }}" tabindex=“0”
                    aria-label="{{ page.download_dropdown_pkg_s_aria  }}"><i
                        class="fa-brands fa-apple download-icon"></i>{{ page.download_dropdown_pkg_s }}<span
                        id="super">beta</span></a>
                <hr>
                <a href="{{ page.qupath_download_tar }}" tabindex=“0”
                    aria-label="{{ page.download_dropdown_tar_aria  }}"><i
                        class="fa-brands fa-linux download-icon"></i>{{ page.download_dropdown_tar }}</a>
            </div>
        </div>
        <p class="bold"><a href="{{ page.qupath_release_notes }}" target=blank>{{ page.latest_release_notes }}</a></p>
        <p>{{page.all_release_notes }}
        </p>
        <p>{{page.install_troubleshooting }}</p>
    </div>
</div>