<!-- Downloads component -->
<div id="downloads" class="standard-component">
    <div class="download-container">
        <a class="button windows-button main-button" data-for-os="default" data-download="win" tabindex=“-1”>{{
            page.download_button_default | liquify }}</a>
        <a class="button windows-button main-button" href="{{ page.qupath_download_msi | liquify }}" data-for-os="win"
            data-download="win" tabindex=“0” aria-label="{{ page.download_dropdown_msi_aria | liquify }}">{{
            page.download_button_win | liquify }}</a>
        <a class="button mac-button main-button" href="{{ page.qupath_download_pkg | liquify }}" data-for-os="mac"
            data-download="mac" tabindex=“0” aria-label="{{ page.download_dropdown_pkg_aria | liquify }}">{{
            page.download_button_mac | liquify }}</a>
        <a class="button linux-button main-button" href="{{ page.qupath_download_tar | liquify }}" data-for-os="lin"
            data-download="lin" tabindex=“0” aria-label="{{ page.download_dropdown_tar_aria | liquify }}">{{
            page.download_button_lin | liquify }}</a>
        <div class="dropdown" tabindex=“-1”>
            <button class="button windows-button side-button" tabindex=“0”
                aria-label="Submenu to download alternative releases"><i class="fa-solid fa-angle-right"></i></button>
            <div class="dropdown-content">
                <a href="{{ page.qupath_download_msi | liquify }}" tabindex=“0” aria-label=""><i
                        class="fa-brands fa-windows download-icon"></i>{{ page.download_dropdown_msi | liquify }}</a>
                <a href="{{ page.qupath_download_zip | liquify }}" tabindex=“0” aria-label=""><i
                        class="fa-brands fa-windows download-icon"></i>{{ page.download_dropdown_zip | liquify }}</a>
                <hr>
                <a href="{{ page.qupath_download_pkg | liquify }}" tabindex=“0” aria-label=""><i
                        class="fa-brands fa-apple download-icon"></i>{{ page.download_dropdown_pkg | liquify }}</a>
                <a href="{{ page.qupath_download-pkgs | liquify }}" tabindex=“0” aria-label=""><i
                        class="fa-brands fa-apple download-icon"></i>{{ page.download_dropdown_pkgs | liquify }}<span
                        id="super">beta</span></a>
                <hr>
                <a href="{{ page.qupath_download_tar | liquify }}" tabindex=“0” aria-label=""><i
                        class="fa-brands fa-linux download-icon"></i>{{ page.download_dropdown_tar | liquify }}</a>
            </div>
        </div>
        <p class="bold"><a href="{{ page.latest_releases_version }}" target=blank>{{ page.latest_release_notes | liquify
                }}</a></p>
        <p>{{page.all_release_notes | liquify }}
        </p>
        <p>{{page.install_troubleshooting | liquify }}</p>
    </div>
</div>