<!-- Footer component -->
<footer>
        <p class="footer-text">{{page.footer-1 }}
        <p class="footer-text">{{page.footer-2 }}
        </p>
        <hr>
        </hr>
        <a href="{{ page.qupath_github}}" target=blank aria-label="{{ page.github_aria }}"><img
                        src="/assets/images/icons/github.svg" class="social_icon github_icon" alt="github icon"></a>
        <a href="{{ page.qupath_twitter}}" target=blank aria-label="{{ page.twitter_aria }}"><img
                        src="/assets/images/icons/twitter.svg" class="social_icon twitter_icon" alt="twitter icon"></a>
</footer>