<!-- Footer component -->
<footer>
        <p class="footer-text">{{page.footer-1 }}
        <p class="footer-text">{{page.footer-2 }}
        </p>
        <hr>
        </hr>
        <a href="{{ page.qupath_github}}" target=blank aria-label="{{ page.github_aria }}"><i
                        class="fa-brands fa-github fa-2x"></i></a>
        <a href="{{ page.qupath_twitter}}" target=blank aria-label="{{ page.twitter_aria }}"><i
                        class="fa-brands fa-twitter fa-2x"></i></a>
</footer>