<!-- Three icons component -->
<div id="three-icons" class="standard-component">
        <ul class="feature-icons">
                <li>
                        <a href="{{ page.qupath_documentation }}" target=blank tabindex="-1"
                                aria-label="{{ page.icon-1-aria }}" class="icons-color green-color">
                                <img src="/assets/images/icons/file-lines-regular.svg" class="docs-icon"
                                        alt="docs icon">
                        </a>
                        <h2><a href="{{ page.qupath_documentation }}" target=blank class="three-icons-title"
                                        aria-label="{{ page.icon-1-aria }}">{{page.icon-1-title |
                                        liquify }}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-1-content }}</p>
                </li>
                <li>
                        <a href="{{ page.qupath_forum }}" target=blank tabindex="-1" aria-label="{{ page.icon-2-aria }}"
                                class="icons-color">
                                <img src="/assets/images/icons/comments-regular.svg" class="comment-icon"
                                        alt="commnets icon">
                        </a>
                        <h2><a href="{{ page.qupath_forum }}" target=blank class="three-icons-title"
                                        aria-label="{{ page.icon-2-aria }}">{{page.icon-2-title
                                        }}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-2-content }}</p>
                </li>
                <li>
                        <a href="{{ page.qupath_github }}" target=blank tabindex="-1"
                                aria-label="{{ page.icon-3-aria }}" class="icons-color red-color">
                                <img src="/assets/images/icons/code-solid.svg" class="code-icon" alt="code icon">
                        </a>
                        <h2><a href="{{ page.qupath_github }}" target=blank class="three-icons-title"
                                        aria-label="{{ page.icon-3-aria }}">{{page.icon-3-title
                                        }}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-3-content }}</p>
                </li>
        </ul>
</div>
</body>