<!-- Three icons component -->
<div id="three-icons" class="standard-component">
        <ul class="feature-icons">
                <li>
                        <a href="{{ page.qupath_documentation }}" target=blank tabindex="-1"><i
                                        class="fa-regular fa-file-lines fa-5x icons-color green-color"
                                        aria-label="{{ page.icon-1-aria }}"></i></a>
                        <h2><a href="{{ page.qupath_documentation }}" target=blank class="three-icons-title"
                                        aria-label="{{ page.icon-1-aria }}">{{page.icon-1-title |
                                        liquify }}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-1-content }}</p>
                </li>
                <li>
                        <a href="{{ page.qupath_forum }}" target=blank tabindex="-1"><i
                                        class="fa-regular fa-comments fa-5x icons-color"
                                        aria-label="{{ page.icon-2-aria }}"></i></a>
                        <h2><a href="{{ page.qupath_forum }}" target=blank class="three-icons-title"
                                        aria-label="{{ page.icon-2-aria }}">{{page.icon-2-title
                                        }}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-2-content }}</p>
                </li>
                <li>
                        <a href="{{ page.qupath_github }}" target=blank tabindex="-1"><i
                                        class="fa-solid fa-code fa-5x icons-color red-color"
                                        aria-label="{{ page.icon-3-aria }}"></i></a>
                        <h2><a href="{{ page.qupath_github }}" target=blank class="three-icons-title"
                                        aria-label="{{ page.icon-3-aria }}">{{page.icon-3-title
                                        }}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-3-content }}</p>
                </li>
        </ul>
</div>
</body>