// Basic styles for the landing page

/* -------------General styling------------- */
:root {
    --background-white: white;
    --off-black: #000c;
    --dark-grey: #393939;
    --light-grey: #727272;
    --link-blue: #267cb9;
    --link-green: #86c351;
    --banner-blue: #324b69;
    --banner-white: aliceblue;
    --yellow: #ffe77f;
    --yellow-darken: #ffd519;
    --yellow-lighten: #fceda8;
    --blue: hsla(215, 100%, 76%, 0.5);
    --blue-darken: hsla(215, 100%, 76%, 0.9);
    --green: hsla(92, 49%, 54%, 0.5);
    --green-darken: hsla(92, 49%, 54%, 0.9);
    --red: hsla(13, 100%, 38%, 0.4);
    --red-darken: hsla(13, 100%, 38%, 0.7);
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: var(--background-white);
    text-align: center;
    margin: 0;
  }
  
  h1 h2 p li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    align-self: center;
  }
  
  h1,
  h2,
  h3 {
    color: var(--dark-grey);
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
  
  p {
    color: var(--light-grey);
  }
  
  .bold {
    font-weight: bold;
  }
  
  #super {
    vertical-align: super;
    font-size: 8pt;
  }
  
  a:link {
    color: var(--link-blue);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--link-blue);
    text-decoration: underline;
  }
  
  a:visited {
    color: var(--link-green);
  }
  
  a:visited:hover {
    text-decoration: underline;
    color: var(--link-green);
  }
  
  * {
    box-sizing: border-box;
  }
  
  hr {
    max-width: 980px;
    width: 50%;
    background-color: var(--light-grey);
    height: 1px;
    border: none;
  }
  
  .standard-component {
    display: block;
    position: relative;
    align-content: center;
    align-self: center;
    align-items: center;
    max-width: 980px;
    min-width: 340px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* -------------News banner styling------------- */
  #news-banner {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    min-width: 330px;
    margin-bottom: 50px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--banner-blue);
  }
  
  div.news-banner-text {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
    text-align: center;
  }
  
  div.news-banner-text p,
  div.news-banner-text a,
  div.news-banner-text a:hover,
  .fa-xmark {
    color: var(--banner-white);
  }
  
  div.news-banner-close {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  button.close {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .fa-xmark:hover {
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    color: var(--banner-white);
  }

  .fa-xmark {
    width: 30px;
    height: 30px;
  }
  
  /* -------------Hero Styling------------- */
  #hero {
    padding-top: 68px;
  }
  
  #hero h1 {
    font-size: 75px;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
  
  #hero h2 {
    font-size: 32px;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
  
  img {
    height: auto;
    max-width: 80%;
  }
  
  /* -------------Download Styling------------- */
  .download-container p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*Standard Button styling*/
  /* Button styling default*/
  .download-container .button {
    vertical-align: top;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    padding: 9px 15px;
    margin: 10px 10px 0px 10px;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
    border-radius: 10px;
    color: var(--off-black);
    background-color: var(--yellow);
    transition: background-color 0.3s ease-in-out 30ms;
  }
  
  /* Button styling on hover*/
  .download-container .button:hover,
  .dropdown:hover .button {
    background-color: var(--yellow-darken);
  }
  
  /* Split button styling - main button*/
  .download-container .main-button {
    width: 265px;
    padding-right: 0px;
    margin-right: 0;
    border-radius: 10px 0px 0px 10px;
    border: none;
  }
  
  /* Split button styling - side button*/
  .download-container .side-button {
    width: 35px;
    padding-left: 0;
    padding-left: 5px;
    margin-left: 0;
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
    border: none;
  }
  
  /* Dropdown Content (Hidden by Default)*/
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    height: auto;
  }
  
  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    font-size: 12pt;
    background-color: var(--yellow-lighten);
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 10px;
    height: auto;
    -webkit-transition: background-color 0.3s ease-in-out 30ms;
    transition: opacity 0.3s ease-in-out 0.3s;
  }
  
  /* Dropdown content show/hide*/
  .dropdown:hover .dropdown-content,
  .dropdown:focus-within .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.3s;
  }
  
  /* Dropdown content styling*/
  .dropdown-content a {
    color: var(--off-black);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    -webkit-transition: background-color 0.3s ease-in-out 30ms;
  }
  
  /* Dropdown content styling on hover*/
  .dropdown-content a:hover,
  .dropdown-content a:focus-within {
    background-color: var(--yellow-darken);
    border-radius: 10px;
    color: var(--off-black);
  }
  
  .side-button .fa-angle-right {
    height: 30px;
    width: 30px;
    transition: transform 0.7s;
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.7s;
    -ms-transition: transform 0.7s;
    -o-transition: transform 0.7s;
  }
  
  .side-button:hover .fa-angle-right,
  .dropdown:hover .fa-angle-right,
  .dropdown:focus-within .fa-angle-right {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .dropdown-content hr {
    height: 0.5px;
    width: 80%;
    border: none;
    color: var(--off-black);
    background-color: var(--off-black);
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .fa-platform-icon {
    margin-right: 10px;
    height: 15px;
    width: 15px;
  }
  
  /* Which OS download to hide */
  /* Windows */
  html.mac [data-for-os="win"] {
    display: none !important;
  }
  
  html.lin [data-for-os="win"] {
    display: none !important;
  }
  
  html.default [data-for-os="win"] {
    display: none !important;
  }
  
  /* Linux */
  html.mac [data-for-os="lin"] {
    display: none !important;
  }
  
  html.win [data-for-os="lin"] {
    display: none !important;
  }
  
  html.default [data-for-os="lin"] {
    display: none !important;
  }
  
  /* Mac */
  html.win [data-for-os="mac"] {
    display: none !important;
  }
  
  html.lin [data-for-os="mac"] {
    display: none !important;
  }
  
  html.default [data-for-os="mac"] {
    display: none !important;
  }
  
  /* Not sure what platform? */
  html.win [data-for-os="default"] {
    display: none !important;
  }
  
  html.lin [data-for-os="default"] {
    display: none !important;
  }
  
  html.mac [data-for-os="default"] {
    display: none !important;
  }
  
/* MAC Dropdown Content (Hidden by Default)*/
.mac-dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  height: auto;
}

.mac-dropdown-content {
  visibility: hidden;
  visibility: visible;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  border-radius: 10px;
  font-size: 12pt;
  background-color: var(--yellow-lighten);
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: -35px;
  height: auto;
  -webkit-transition: background-color 0.3s ease-in-out 30ms;
  transition: opacity 0.3s ease-in-out 0.3s;
}

/* Dropdown content show/hide*/
.mac-dropdown:hover .mac-dropdown-content,
.mac-dropdown:focus-within .mac-dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.3s;
}

/* Dropdown content styling*/
.mac-dropdown-content a {
  color: var(--off-black);
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  -webkit-transition: background-color 0.3s ease-in-out 30ms;
}

/* Dropdown content styling on hover*/
.mac-dropdown-content a:hover,
.mac-dropdown-content a:focus-within {
  background-color: var(--yellow-darken);
  border-radius: 10px;
  color: var(--off-black);
}

.mac-dropdown-content hr {
  height: 0.5px;
  width: 80%;
  border: none;
  color: var(--off-black);
  background-color: var(--off-black);
  margin-top: 1px;
  margin-bottom: 1px;
}
  /* -------------Slideshow Styling------------- */
  .slideshow-container {
    max-width: 1000px;
  }
  
  .mySlides {
    display: none;
  }
  
  .slide {
    position: relative;
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: transparent;
  }
  
  .slide-text {
    position: absolute;
    left: 10%;
    width: 50%;
    max-width: 55%;
    text-align: left;
  }
  
  .slide img {
    position: absolute;
    right: 10%;
    max-width: 200px;
    margin-top: 20px;
  }
  
  .screenshot-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .slide .slide-text.inverse-text {
    position: absolute;
    right: 10%;
    left: auto;
  }
  
  .slide img.inverse {
    left: 10%;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 6px 11px 6px 11px;
    font-weight: bold;
    font-size: 18px;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 23px;
    color: var(--off-black);
    background-color: white;
    cursor: pointer;
    transition: 0.6s ease;
    outline: inherit;
    border: none;
  }
  
  .next {
    right: 10%;
  }
  
  .prev {
    left: 10%;
  }
  
  .prev:hover,
  .next:hover {
    background-color: hsla(216, 90%, 77%, 0.5);
    text-decoration: none;
  }

  .fa-angle {
    padding-top: 5px;
    height: 25px;
    width: 25px;
  }
  
  .dot {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @media screen and (max-width: 950px) {
    .slide {
      background-color: white;
      width: 100%;
      height: 200px;
    }
  
    .slide-text {
      position: absolute;
      left: 10%;
      max-width: 50%;
      text-align: left;
    }
  
    .slide img {
      position: absolute;
      right: 10%;
      max-width: 200px;
    }
  
    .next {
      right: 0%;
    }
  
    .prev {
      left: 0%;
    }
  }
  
  @media screen and (max-width: 700px) {
    .slide {
      height: 400px;
      display: flex;
      justify-content: center;
      justify-items: center;
    }
  
    .slide-text {
      position: absolute;
      bottom: 0%;
      left: unset;
      right: unset;
      width: 50%;
      text-align: center;
      align-self: center;
    }
  
    .slide img {
      position: absolute;
      max-width: 50%;
      max-height: 182px;
      left: unset;
      right: unset;
      margin-bottom: 15px;
    }
  
    .screenshot-img {
      top: 10%;
    }
  
    .slide .slide-text.inverse-text {
      position: absolute;
      left: unset;
      right: unset;
    }
  
    .slide img.inverse {
      left: unset;
    }
  }
  
  /* -------------Three icons styling------------- */
  ul.feature-icons {
    display: flex;
    justify-content: center;
    padding-inline-start: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
  }
  
  .feature-icons li {
    display: inline-block;
    width: 250px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3%;
    margin-right: 3%;
  }

  .feature-icons li .a-size {
    display:inline-block;
    width: 120px;
    height: 120px;
    background-color: #267cb9;
  }

  .docs-icon {
    width: 60px;
    height: 79px;
    margin-top: 20px;
  }

  .comment-icon {
    width: 90px;
    height: 79px;
    margin-top: 20px
  }

  .code-icon {
    width: 100px;
    height: 79px;
    margin-top: 20px
  }

  .feature-icons li .icons-color {
    display:inline-block;
    width: 120px;
    height: 120px;
    z-index: -5;
    border-radius: 50%;
    color: var(--off-black);
    background: var(--blue);
    transition: background-color 0.5s ease-out 30ms;
  }
  
  .feature-icons li .icons-color:hover {
    background-color: var(--blue-darken);
  }
  
  .feature-icons li .green-color {
    background: var(--green);
    transition: background-color 0.5s ease-out 30ms;
  }
  
  .feature-icons li .green-color:hover {
    background-color: var(--green-darken);
  }
  
  .feature-icons li .red-color {
    background: var(--red);
    transition: background-color 0.5s ease-out 30ms;
  }
  
  .feature-icons li .red-color:hover {
    background-color: var(--red-darken);
  }
  
  .three-icons-title:link {
    color: var(--dark-grey);
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  .three-icons-title:hover {
    text-decoration: underline;
  }
  
  .three-icons-title:visited,
  .three-icons-title:visited:hover {
    color: var(--dark-grey);
  }
  
  .three-icons-text {
    position: relative;
    max-width: 200px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-grey);
  }
  
  p {
    display: block;
  }
  
  @media screen and (max-width: 450px) {
    ul.feature-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* -------------Footer styling------------- */
  p.footer-text {
    max-width: 80%;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer a .fa-brands {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .social_icon {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .github_icon {
    color: #000;
  }
  
  .twitter_icon {
    filter: #48a1eb;
  }