---
---

$header-heading-color: black-translucent;

@import "{{ site.theme }}";

.page-header {
  background-image: url(/qupath-test/images/qupath-banner.jpg);
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shadow-image {
  box-shadow: 4px 4px 8px rgba(1, 1, 1, 0.2);
}

.post-link { font-size: 22px; }

.max-width-40 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.max-width-60 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.max-width-80 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.max-width-100 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

span.wraptastefully { display:inline-block; }

// .downloads {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
// }

.side-note {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F5F5F5;
  box-shadow: 4px 4px 8px rgba(1, 1, 1, 0.2);
}
