/* -------------General styling------------- */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  text-align: center;
  margin: 0;
}

h1 h2 p li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  align-items: center;
  align-self: center;
}

h1 {
  color: #393939;
}

h2 {
  color: #393939;
}

p {
  color: #727272;
}

a:link {
  color: #267CB9;
  text-decoration: none;
}

a:hover {
  color: #267CB9;
  text-decoration: underline;
}

a:visited {
  color: #86c351;
}

a:visited:hover {
  text-decoration: underline;
  color: #86c351;
}

* {
  box-sizing: border-box;
}

hr {
  max-width: 980px;
  width: 50%;
}

.standard-component {
  display: block;
  position: relative;
  align-content: center;
  align-self: center;
  align-items: center;
  max-width: 980px;
  min-width: 340px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* -------------News banner styling------------- */

#news-banner {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 330px;
  margin-bottom: 50px;
  border-radius: 0px 0px 10px 10px;
  background-color: #324b69;
}

div.news-banner-text {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  overflow: auto;
  text-align: center;
}

div.news-banner-text p {
  color: aliceblue;
}

div.news-banner-text a {
  color: aliceblue;
}

div.news-banner-close {
  position: absolute;
  top: 15px;
  right: 20px;
}

.fa-xmark {
  color: aliceblue;
}

button.close {
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

div.news-banner-close:hover {
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
}

/* -------------Hero Styling------------- */
#hero {
  padding-top: 68px;
}

#hero h1 {
  font-size: 75px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

#hero h2 {
  font-size: 32px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

img {
  height: auto;
  max-width: 80%;
}

/* -------------Download Styling------------- */

.download-container .button {
  display: inline-block;
  width: 300px;
  border-radius: 3px;
  cursor: pointer;
  padding: 9px 15px;
  margin: 10px;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  font-size: 16pt;
  border-radius: 10px;
  border: 3px solid white;
  color: #000c;
  background-color: #d9d9d9;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.download-container .button {
  background: hsla(49, 100%, 50%, 0.5);
  transition: background-color 0.5s ease-out 30ms;
}

.download-container .button:hover {
  background-color: hsla(49, 100%, 50%, 0.9);
}

.download-container p {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Which OS download to hide */
html.mac [data-for-os="win"] {
  display: none !important;
}

html.lin [data-for-os="win"] {
  display: none !important;
}

html.mac [data-for-os="lin"] {
  display: none !important;
}

html.win [data-for-os="lin"] {
  display: none !important;
}

html.win [data-for-os="mac"] {
  display: none !important;
}

html.lin [data-for-os="mac"] {
  display: none !important;
}

/* -------------Slideshow Styling------------- */
.slideshow-container {
  max-width: 1000px;
}

.mySlides {
  display: none;
}

.slide {
  position: relative;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: transparent;
}

.slide-text {
  position: absolute;
  left: 10%;
  width: 50%;
  max-width: 55%;
  text-align: left;
}

.slide img {
  position: absolute;
  right: 10%;
  max-width: 200px;
  margin-top: 20px;
}

.screenshot-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slide .slide-text.inverse-text {
  position: absolute;
  right: 10%;
  left: auto;
}

.slide img.inverse {
  left: 10%;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 6px 11px 6px 11px;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  border-radius: 23px;
  color: #000c;
  cursor: pointer;
  transition: 0.6s ease;
}

.next {
  right: 10%;
}

.prev {
  left: 10%;
}

.prev:hover,
.next:hover {
  background-color: hsla(216, 90%, 77%, 0.5);
}

.dot {
  display: inline-block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 950px) {
  .slide {
    background-color: white;
    width: 100%;
    height: 200px;
  }

  .slide-text {
    position: absolute;
    left: 10%;
    max-width: 50%;
    text-align: left;
  }

  .slide img {
    position: absolute;
    right: 10%;
    max-width: 200px;
  }

  .next {
    right: 0%;
  }

  .prev {
    left: 0%;
  }
}

@media screen and (max-width: 700px) {
  .slide {
    height: 400px;
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .slide-text {
    position: absolute;
    bottom: 0%;
    left: unset;
    right: unset;
    width: 50%;
    text-align: center;
    align-self: center;
  }

  .slide img {
    position: absolute;
    max-width: 50%;
    max-height: 182px;
    left: unset;
    right: unset;
    margin-bottom: 15px;
  }

  .screenshot-img {
    top: 10%;
  }

  .slide .slide-text.inverse-text {
    position: absolute;
    left: unset;
    right: unset;
  }

  .slide img.inverse {
    left: unset;
  }
}

/* -------------Three icons styling------------- */
ul.feature-icons {
  display: flex;
  justify-content: center;
  padding-inline-start: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0px;
}

.feature-icons li {
  display: inline-block;
  width: 250px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3%;
  margin-right: 3%;
}

.icons-color {
  width: 120px;
  height: 120px;
  z-index: -5;
  padding-top: 17px;
  padding-bottom: 10px;
  border-radius: 100px;
  color: #000c;
  background: hsla(215, 100%, 76%, 0.5);
  transition: background-color 0.5s ease-out 30ms;
}

.icons-color:hover {
  background-color: hsla(215, 100%, 76%, 0.9);
}

.green-color {
  background: hsla(92, 49%, 54%, 0.5);
  transition: background-color 0.5s ease-out 30ms;
}

.green-color:hover {
  background-color: hsla(92, 49%, 54%, 0.9);
}

.red-color {
  background: hsla(13, 100%, 38%, 0.4);
  transition: background-color 0.5s ease-out 30ms;
}

.red-color:hover {
  background-color: hsla(13, 100%, 38%, 0.7);
}

.three-icons-title:link {
  color: #393939;
  margin-bottom: 5px;
  text-decoration: none;
}

.three-icons-title:visited {
  color: #393939;
}

.three-icons-text {
  position: relative;
  max-width: 200px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  color: #727272;
}

p {
  display: block;
}

@media screen and (max-width: 450px) {
  ul.feature-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* -------------Footer styling------------- */
p.footer-text {
  max-width: 80%;
  font-size: 10pt;
  margin-left: auto;
  margin-right: auto;
}

.fa-brands {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.fa-github {
  color: #000;
}

.fa-twitter {
  color: #48a1eb;
}